<div class="iv-tools">

    <!-- Text input target -->
    <div class="text-input-field" style="display: none;">
        <div class="sent-history">
            <div class="sent-text" ng-repeat="text in sentText track by $index">
                {{text}}
            </div>
        </div>
        <textarea rows="1" class="target" autocorrect="off" autocapitalize="off">

        </textarea>
    </div>
    <div class="text-input-buttons">

        <!-- <guac-iv-key keysym="65489" text="'CLIENT.NAME_IVTOOL_SW'" imageurl="images/iv/monitor.svg" showtooltip="true"></guac-iv-key>
        <guac-iv-key keysym="65490" text="'CLIENT.NAME_IVTOOL_LAUNCH_ON_STARTUP'" imageurl="images/iv/rocket.svg" showtooltip="true"></guac-iv-key>
        <guac-iv-key keysym="65491" text="'CLIENT.NAME_IVTOOL_CUSTOM_COMMAND'" imageurl="images/iv/settings.svg" showtooltip="true"></guac-iv-key>
        <guac-iv-key keysym="65492" sticky="true" text="'CLIENT.NAME_IVTOOL_TOGGLE_TOUCH'" pressed="touchPressed" imageurl="images/iv/arrow.svg" pressedimageurl="images/iv/hand.svg" showtooltip="true"></guac-iv-key>
        <guac-iv-key keysym="65493" text="'CLIENT.NAME_IVTOOL_PATIENT_BROWSER'" imageurl="images/iv/home.svg" showtooltip="true"></guac-iv-key>
        <guac-iv-key keysym="65494" text="'CLIENT.NAME_IVTOOL_START_EXAM'" imageurl="images/iv/play.svg" showtooltip="true"></guac-iv-key>
        <guac-iv-key keysym="65495" text="'CLIENT.NAME_IVTOOL_WRITE_TEXT_EXAM'" imageurl="images/iv/pencil.svg" showtooltip="true"></guac-iv-key> -->

        <guac-iv-key keysym="65495" text="'CLIENT.NAME_IVTOOL_WRITE_TEXT_EXAM'" imageurl="images/iv/pencil.svg" showtooltip="true"></guac-iv-key>
        <guac-iv-key keysym="65494" text="'CLIENT.NAME_IVTOOL_START_EXAM'" imageurl="images/iv/play.svg" showtooltip="true"></guac-iv-key>
        <guac-iv-key keysym="65493" text="'CLIENT.NAME_IVTOOL_PATIENT_BROWSER'" imageurl="images/iv/person.svg" showtooltip="true"></guac-iv-key>
        <guac-iv-key keysym="65492" sticky="true" text="'CLIENT.NAME_IVTOOL_TOGGLE_TOUCH'" pressed="touchPressed" imageurl="images/iv/arrow.svg" pressedimageurl="images/iv/hand.svg" showtooltip="true"></guac-iv-key>
        <guac-iv-key keysym="65491" text="'CLIENT.NAME_IVTOOL_CUSTOM_COMMAND'" imageurl="images/iv/settings.svg" showtooltip="true"></guac-iv-key>
        <guac-iv-key keysym="65490" text="'CLIENT.NAME_IVTOOL_LAUNCH_ON_STARTUP'" imageurl="images/iv/rocket.svg" showtooltip="true"></guac-iv-key>
        <guac-iv-key keysym="65489" text="'CLIENT.NAME_IVTOOL_SW'" imageurl="images/iv/monitor.svg" showtooltip="true"></guac-iv-key>

    </div>

</div>
